RemoteServiceClient/Service References/LumenisRemoteService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_RemoteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LumenisRemoteService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RemoteService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="RemoteService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteService_StartConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:StartConnection" />
  </wsdl:message>
  <wsdl:message name="RemoteService_StartConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteService_StopConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:StopConnection" />
  </wsdl:message>
  <wsdl:message name="RemoteService_StopConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteService_Enable_InputMessage">
    <wsdl:part name="parameters" element="tns:Enable" />
  </wsdl:message>
  <wsdl:message name="RemoteService_Enable_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteService_CreateFeature_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFeature" />
  </wsdl:message>
  <wsdl:message name="RemoteService_CreateFeature_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFeatureResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteService_HasFeature_InputMessage">
    <wsdl:part name="parameters" element="tns:HasFeature" />
  </wsdl:message>
  <wsdl:message name="RemoteService_HasFeature_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasFeatureResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteService_ExtendFeature_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtendFeature" />
  </wsdl:message>
  <wsdl:message name="RemoteService_ExtendFeature_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtendFeatureResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteService_RemoveFeature_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFeature" />
  </wsdl:message>
  <wsdl:message name="RemoteService_RemoveFeature_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFeatureResponse" />
  </wsdl:message>
  <wsdl:portType name="RemoteService">
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/RemoteService/GetStatus" message="tns:RemoteService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RemoteService/GetStatusResponse" message="tns:RemoteService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/RemoteService/StartConnection" message="tns:RemoteService_StartConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RemoteService/StartConnectionResponse" message="tns:RemoteService_StartConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/RemoteService/StopConnection" message="tns:RemoteService_StopConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RemoteService/StopConnectionResponse" message="tns:RemoteService_StopConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <wsdl:input wsaw:Action="http://tempuri.org/RemoteService/Enable" message="tns:RemoteService_Enable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RemoteService/EnableResponse" message="tns:RemoteService_Enable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFeature">
      <wsdl:input wsaw:Action="http://tempuri.org/RemoteService/CreateFeature" message="tns:RemoteService_CreateFeature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RemoteService/CreateFeatureResponse" message="tns:RemoteService_CreateFeature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasFeature">
      <wsdl:input wsaw:Action="http://tempuri.org/RemoteService/HasFeature" message="tns:RemoteService_HasFeature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RemoteService/HasFeatureResponse" message="tns:RemoteService_HasFeature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtendFeature">
      <wsdl:input wsaw:Action="http://tempuri.org/RemoteService/ExtendFeature" message="tns:RemoteService_ExtendFeature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RemoteService/ExtendFeatureResponse" message="tns:RemoteService_ExtendFeature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFeature">
      <wsdl:input wsaw:Action="http://tempuri.org/RemoteService/RemoveFeature" message="tns:RemoteService_RemoveFeature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RemoteService/RemoveFeatureResponse" message="tns:RemoteService_RemoveFeature_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_RemoteService" type="tns:RemoteService">
    <wsp:PolicyReference URI="#NetTcpBinding_RemoteService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://tempuri.org/RemoteService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartConnection">
      <soap12:operation soapAction="http://tempuri.org/RemoteService/StartConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopConnection">
      <soap12:operation soapAction="http://tempuri.org/RemoteService/StopConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <soap12:operation soapAction="http://tempuri.org/RemoteService/Enable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFeature">
      <soap12:operation soapAction="http://tempuri.org/RemoteService/CreateFeature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasFeature">
      <soap12:operation soapAction="http://tempuri.org/RemoteService/HasFeature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendFeature">
      <soap12:operation soapAction="http://tempuri.org/RemoteService/ExtendFeature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFeature">
      <soap12:operation soapAction="http://tempuri.org/RemoteService/RemoveFeature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteService">
    <wsdl:port name="NetTcpBinding_RemoteService" binding="tns:NetTcpBinding_RemoteService">
      <soap12:address location="net.tcp://localhost:49494/RemoteService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:49494/RemoteService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>